/* Custom Properties */
:root {
  /* colors */
  --clr-white: 0 0% 100%;
  --clr-hotPink: 335 91% 32%;
  --clr-lightPink: 348 86% 95%;
  --clr-black: 340 17% 7%;
  /* fonts */
  --fs-400: 20px;
  --fs-500: 24px;
  --fs-600: 40px;
  --fs-700: 61px;

  -ff-serif: 'Montserrat', sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ---  */

/* utility classes */
.flex {
  display: flex;
  
}

/* ---  */


/*! HEADER  */

/*
header {
  outline: 1px solid yellow;
  background-image: url(./assets/background/landing-page/dripping-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}
*/

/* header dripping bg  */
.spacer {
  aspect-ratio: 960/600;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.layer1 {
  background-image: url(./assets/background/landing-page/drip-haikei.svg);
}

/* nav  */

.primary-navigation {
  display: flex;
  justify-content: space-evenly;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.order-link {
  text-align: center;
  padding-block: 1rem;
  /* outline: 1px solid green; */
}

.logo {
  /* outline: 1px solid red; */
  padding-block: 1rem;
  width: 150px;
}

/* header content  */

.header-img {
  width: 200px;
  border-radius: 15px;
}


.header-content {
  display: flex;
  justify-content: space-around;
}

.blueberries {
}
.rasberries {
  
}